@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
body {
  margin: 0;
  padding: 60px;
  background-color: #12351a;
  font-family: "Nanum Myeongjo", serif;
  word-break: keep-all;
}

@media (max-width: 767px) {
  body {
    padding: 35px;
  }
}
